services:
  product:
    url: http://localhost:8081
  order:
    url: http://localhost:8082

server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        ddl-auto: none
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
